.container {
  padding-top: 2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;

  width: 50vw;
}

.iconButton {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.iconButton:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.tableBackground {
  padding: 1rem;
  border-radius: 0.3rem;
  border: 1px solid #444444;
  width: 85vw;

  font-size: 0.9rem !important;

  background-color: #1e1e1e;

  color: #e3e3e3;
  transition: all 0.3s ease;
  font-size: 1rem;

  border-collapse: separate;
  border-spacing: 0;
}

.headerTitle {
  font-weight: 350;
  font-size: 0.9rem;
  padding: 0.5rem 0rem;
  text-align: left;
}
