.tableBackground {
  padding: 1rem;
  border-radius: 0.3rem;
  border: 1px solid #444444;
  width: 85vw;

  font-size: 0.9rem !important;

  background-color: #1e1e1e;

  color: #e3e3e3;
  transition: all 0.3s ease;
  font-size: 1rem;

  border-collapse: separate;
  border-spacing: 0;
}

.headerTitle {
  font-weight: 350;
  font-size: 0.9rem;
  padding: 0.5rem 0rem;
  text-align: left;
}
