.selectWrapper {
  display: inline-block;
  position: relative;
}

.select {
  padding: 0.3rem 0.8rem;
  border-radius: 0.2rem;
  border: 1px solid #444444;
  scroll-behavior: smooth;

  width: 10rem;

  background-color: #1e1e1e;

  color: #e3e3e3;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1rem;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;

  background-image: url("../../assets/Down-Button.svg");
  background-repeat: no-repeat;
  background-position: right 0.8rem center;
  background-size: 0.8rem;
}

.select:focus {
  outline: none;
  border-color: #666;
}

.select option {
  background-color: #2c2c2c;
  color: #e3e3e3;
  border: none;
}

.increasedWidth {
  width: 15rem;
}
