.container {
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #1e1e1e;
  border: 1px solid #2b2b2b;
  border-radius: 8px;
  padding: 2rem;
  width: 350px;
}

.form h1 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.form label {
  color: #ccc;
  font-size: 0.9rem;
}

.error {
  color: #ff8688;
}
