.container {
  padding-top: 2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.selectContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}
