.button {
  font-size: 1rem;
  font-weight: 350;

  padding: 0.3rem 0.8rem;
  border-radius: 0.2rem;
  border: 1px solid #e3e3e3;
  background-color: transparent;
  color: #e3e3e3;
  cursor: pointer;
  transition: all 0.3s ease;
}

.light {
  background-color: #e3e3e3;
  color: #2c2c2c;
}

.red {
  background-color: #8b0000;
  border-color: #8b0000;
}

.button:hover {
  background-color: #e3e3e3;
  color: #1e1e1e;
}

.light:hover {
  background-color: #1e1e1e;
  color: #e3e3e3;
}

.red:hover {
  background-color: #1e1e1e;
  border-color: #e3e3e3;
  color: #ff4444;
}
