.container {
  padding-top: 2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;

  width: 50vw;
}

.iconButton {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.iconButton:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
