
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

a {
  color: #e3e3e3; 
  text-decoration: none;
  font-size: 1rem; 
  transition: color 0.3s ease;
}


nav a:hover {
  color: #fff;
  font-weight: 500
  /* color: #1e90ff; */
}

body {

  font-family: "Inter", sans-serif;
  font-weight: 350;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2C2C2C;
  color: #E3E3E3;
}

