.link {
  color: #e3e3e3;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.link:hover {
  color: #fff;
  text-shadow: 0px 0px 1px #fff;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 3rem;
  background-color: #1e1e1e;

  width: 100%;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
